name: SFCC Code Deployment-TEST

on:
  workflow_dispatch: # to allow running this workflow manually 
  # push:  <== excluded "push:", "branches:" and "-main"  to prevent the workflow from running automatically on commit.
  # branches:
  #    - main
jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install sfcc-ci
        run: npm install -g sfcc-ci

      - name: Show Variable
        run: echo ${{ vars.RELEASE_PREFIX }}--${{ github.run_number }}
